html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.container > div:nth-child(1n), .container2 > div:nth-child(1n), .container3 > div:nth-child(1n), .container4 > div:nth-child(1n), .container5 > div:nth-child(1n), .container6 > div:nth-child(1n), .container7 > div:nth-child(1n), .container8 > div:nth-child(1n), .container9 > div:nth-child(1n), .container10 > div:nth-child(1n), .container11 > div:nth-child(1n), .container12 > div:nth-child(1n), .container13 > div:nth-child(1n), .container14 > div:nth-child(1n), .container15 > div:nth-child(1n) {
    background-color: #96ceb4;	
}

.container > div:nth-child(3n), .container2 > div:nth-child(3n), .container3 > div:nth-child(3n), .container4 > div:nth-child(3n), .container5 > div:nth-child(3n), .container6 > div:nth-child(3n), .container7 > div:nth-child(3n), .container8 > div:nth-child(3n), .container9 > div:nth-child(3n), .container10 > div:nth-child(3n), .container11 > div:nth-child(3n), .container12 > div:nth-child(3n), .container13 > div:nth-child(3n), .container14 > div:nth-child(3n), .container15 > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n), .container2 > div:nth-child(2n), .container3 > div:nth-child(2n), .container4 > div:nth-child(2n), .container5 > div:nth-child(2n),.container6 > div:nth-child(2n), .container7 > div:nth-child(2n), .container8 > div:nth-child(2n), .container9 > div:nth-child(2n), .container10 > div:nth-child(2n), .container11 > div:nth-child(2n), .container12 > div:nth-child(2n), .container13 > div:nth-child(2n), .container14 > div:nth-child(2n), .container15 > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container > div:nth-child(4n), .container2 > div:nth-child(4n), .container3 > div:nth-child(4n), .container4 > div:nth-child(4n), .container5 > div:nth-child(4n), .container6 > div:nth-child(4n), .container7 > div:nth-child(4n), .container8 > div:nth-child(4n), .container9 > div:nth-child(4n), .container10 > div:nth-child(4n), .container11 > div:nth-child(4n), .container12 > div:nth-child(4n), .container13 > div:nth-child(4n), .container14 > div:nth-child(4n), .container15 > div:nth-child(4n) {
    background-color: #ffcc5c;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 3px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: antiquewhite;
}

.item2 {
    background-color: aqua;
}

.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: aquamarine;
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: azure;
}

.item5 {
    background-color:beige;
}

.item6 {
    background-color:bisque;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 200px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-rows: repeat(3, 100px);
}
.container2 > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container3 {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(auto-fit, minmax(100px,1fr)) ;
}

.container4 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header { grid-column-start: 2;
            grid-column-end: -1;
    background-color: antiquewhite;
}

.menu { grid-column: 1 / span 1;
    grid-row: 1 / 3;
    background-color: aqua;
}

.content { grid-column: 2 / -1 ;
background-color: darkcyan;
}

.footer {
    grid-column: 1 / -1;
    background-color:crimson;
}

.container5 {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "h h h h h h h h h h h h"
                         "m c c c c c mc mc mc mc mc mc"
                         "f f f f f f f f f f f f";
}

.header2 {
    grid-area: h;
    background-color: antiquewhite;
}

.menu2 {
    grid-area: m;
    background-color: aqua;
}

.content2 {
    grid-area: c;
    background-color: darkcyan;
}

.morecontent2 {
    grid-area: mc;
    background-color:darkorchid;
}

.footer2 {
    grid-area: f;
    background-color:crimson;
}


.container6 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-rows: repeat(2, 100px);
}

.container7 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.container8 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
    grid-auto-rows: 100px;
}
.horizontal { 
    grid-column: auto / span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


.container9 {
    height: 100%; 
    display: grid;
    grid-gap: 3px;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end]; 
}

.header9 {
    grid-column: main-start / main-end;
    background-color:aqua;
}

.menu9 {
    background-color: bisque;
}

.content9 {
    grid-area: content;
    background-color: darkviolet;
}

.footer9 {
    grid-column: main;
    background-color: floralwhite;
}

.container10 {
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: space-around;
    align-content: flex-end;
}

.container11 {
    height: 100%; 
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    justify-items: center;
    align-items: center;
}

.header11 {
    grid-column: 1 / -1;
}

.menu11 {
    grid-column: 1 / 3;
    justify-self: start;
    align-self: end;
}

.content11 {
    grid-column: 3 / -1;
}

.footer11 {
    grid-column: 1 / -1;
}


.container12 {
    border: 1px solid black;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
}

.container13 {
    border: 1px solid black;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
}


.flexbox-header {
    display: flex;
}

.flexbox-header > div:nth-child(3) {
    margin-left: auto;
}

.grid-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header14 {
    grid-column: 1 / -1;
    display: flex;
}

.menu14 {
    grid-column: 1 / 2;
}

.content14 {
    grid-column: 2 / -1;
}

.footer14 {
    grid-column: 1 / -1;
}


.flexbox-header > div {
  display: flex;
  font-size: 1em;
  padding: 10px 20px;
}

.flexbox-header {
  background-color: #96ceb4;
  color: #ffeead;
}


.header14 {
    background-color: #96ceb4;	
}

.header14 :nth-child(2) {
    padding: 0 40px;
}

.header14 :nth-child(3) {
    margin-left: auto;
}

.menu14 {
    background-color: #ff6f69;
}

.content14 {
    background-color: #ffcc5c;
}

.footer14 {
    background-color: #88d8b0;
}

.grid-page > div {
    color: #ffeead;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
