html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 3px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: antiquewhite;
}

.item2 {
    background-color: aqua;
}

.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: aquamarine;
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: azure;
}

.item5 {
    background-color:beige;
}

.item6 {
    background-color:bisque;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 200px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-rows: repeat(3, 100px);
}
.container2 > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container3 {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(auto-fit, minmax(100px,1fr)) ;
}

.container4 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header { grid-column-start: 2;
            grid-column-end: -1;
    background-color: antiquewhite;
}

.menu { grid-column: 1 / span 1;
    grid-row: 1 / 3;
    background-color: aqua;
}

.content { grid-column: 2 / -1 ;
background-color: darkcyan;
}

.footer {
    grid-column: 1 / -1;
    background-color:crimson;
}

.container5 {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "h h h h h h h h h h h h"
                         "m c c c c c mc mc mc mc mc mc"
                         "f f f f f f f f f f f f";
}

.header2 {
    grid-area: h;
    background-color: antiquewhite;
}

.menu2 {
    grid-area: m;
    background-color: aqua;
}

.content2 {
    grid-area: c;
    background-color: darkcyan;
}

.morecontent2 {
    grid-area: mc;
    background-color:darkorchid;
}

.footer2 {
    grid-area: f;
    background-color:crimson;
}


.container6 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-rows: repeat(2, 100px);
}

.container7 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
    grid-auto-rows: 100px;
}