.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(,minmax(100px,1fr));
}

.header {
    grid-column: 1 / -1;
    display: flex;
}

.header :nth-child(2) {
    padding: 0 1em 0 20em;
}

.header :nth-child(3) {
    padding: 0 1em;
}

.header :nth-child(4) {
    padding: 0 1em;
}

.header :nth-child(5) {
    padding: 0 1em;
}

.content {
    grid-column: 1 / -1;
}

.about {
    grid-column: 1 / -1;
}

.portfolio {
    grid-column: 1 / -1;
}

.contact {
    grid-column: 1 / -1;
}

.footer {
    grid-column: 1 / -1;
}

.container > div {
    color: #fffff;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
